.card_comic {
    width: 180px;
    margin-right: 16px;

    &--img {
        height: 340px;
        object-fit: cover;
        width: 180px;

    }

    &--title {
        font-weight: bold;
        font-size: 16px;
    }

    &--num {
        font-size: 14px;
    }
}