.menu_bar{
    background-color: #000;
    width: 100vw;
    height: 84px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--logo_marvel {
        width: 130px;
        margin-left: 50px;
        margin-right: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        @media (max-width: 400px) {
            margin-left: 16px;
        }
    }

   

    &--logo_heart {
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 400px) {
            margin-right: 16px;
        }

        &--img{
            width: 24px;
        }

        &--num{
            color:white;
            margin-left: 10px;
            font-size: larger;
            font-weight: bold;
        }
    }
}